{% extends 'base.html' %}
{% load static %}
{% block 'main' %} 

<section class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 mx-auto mt-5">
               <h1 class="text-center">About Organic</h1>
               <h3 class="text-center mb-3">India's Favorite Online Shopping Platform</h3>
               <p>At Organic, our goal is to make shopping easier, faster, and more convenient than
                 ever before for our customers. We are committed in our mission to build a trustworthy
                  online marketplace which offers the widest range of products across the country. 
                  With our proven user experience and reliable services, we are committed to provide
                   customers in India with a trusted and hassle-free one-stop-shop for all their 
                   shopping needs categories such as Grocery like Vegetables and Fruits</p>

                <p>For over 17 years of operations, we have built most reliable 
                    retail presence that caters to the unique needs of customers in India, and we are
                     committed to bring a similar experience online with Organic. Our vast exceptional
                      selection of products make our online portal the preferred shopping destination
                       for all customers.</p>

                <p class="mb-5">With our convenient payment options, on time delivery services, dependable customer 
                    service, and secure online transactions, you can now shop smarter, faster and more 
                    seamlessly within a few clicks. Our commitment to excellence has been recognized
                     worldwide, and we look forward to offering our customers a delightful shopping
                      experience online with Organic. #Happy Shopping with Organic.</p>
            </div>
        </div>
    </div>
</section>


{% endblock 'main' %}