<div class="container-fluid" style="background-color: rgb(20,219,20);color:white">
    <div class="row mx-auto">

     <div class="col-md-6 mt-5 ">
        <h3>Quick Links</h3>
        <ul>
            <li>Contact</li>
            <li>About</li>
            <li>My Cart</li>
        </ul>
     </div>

     <div class="col-md-6 mt-5">
        <h3>Contact Us</h3>
        <h5>Whatsapp us: +919898989898</h5>
        <h5>Call Us: 1800 125 4561</h5>
        <h5>8:00AM to 8:00PM, 365 days</h5>
     </div>
    </div>
</div>

<div class="container-fluid" style="background-color: black;color:white;">
    <p>&#169; 2023 All Rights Reserved Organic Ltd</p>

</div>

</body>
</html>